<%- include('../parts/html_head') %>
<%- include('../parts/navbar') %>
<div class="container">
    <form name="form1" method="post" onsubmit="return checkForm()">
        <div class="form-group">
            <label for="email">帳號</label>
            <input type="text" class="form-control" id="email" name="email">
            <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="password">密碼</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">登入</button>
    </form>
</div>
<script>
    function checkForm() {
        const output = {
            account: document.querySelector('#email').value,
            password: document.querySelector('#password').value,
        }
        fetch('/member/login', {
            method: 'POST',
            body: JSON.stringify(output),
            headers: {
                'content-type': "application/json"
            }
        }).then(response => response.json())
            .then(obj => {
                console.log(obj);
            });
        return false;
    }
</script>
<%- include('../parts/html_foot') %>